@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 0% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }




}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    line-height: 1.5;
  }
}

/* .oswald {
  font-family: var(--font-oswald);
} */

.header.scrolled {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 2s cubic-bezier(.82,.13,.31,.83); /* Optional: Add smooth transition */
  /* transform: translateY(-100%); */

}
.montserrat {
  font-family: var(--font-montserrat);
}

.text-stroke {
    /* -webkit-text-stroke-color: #000000; */
    -webkit-text-stroke: 1px rgba(0,0,0,.2);
    color: transparent;
}
.services .bg-white:hover span {
  background: #d6a24c;
}
.services .bg-white span,
.services .bg-white span svg {
  transition: all 0.3s;

}
.services .bg-white:hover span svg{
  stroke:#fff;
}
.object-top {
  object-position: top;
}
.vertical-timeline-element .is-hidden  {
   visibility: visible !important;
}
.vertical-timeline-element.is-timeline-hidden {
  opacity: 0;
  transform: translateY(100px);
}
.vertical-timeline-element.is-timeline-visible {
  opacity: 1;
  transform: translateY(0);
}

.vertical-timeline-element {
  transition: opacity 1s ease, transform 1s; /* Example: Smooth opacity transition */
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: visible !important;
}


