@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */


  :root {
    --background: #ffffff; /* HSL: 0 0% 100% */
    --foreground: #2c3e50; /* HSL: 222.2 84% 4.9% */

    --card: #ecf0f1; /* HSL: 0 0% 92.9% */
    --card-foreground: #bdc3c7; /* HSL: 0 0% 74.9% */

    --popover: #3498db; /* HSL: 207.3 100% 56.7% */
    --popover-foreground: #2980b9; /* HSL: 207.3 78.3% 45.1% */

    --primary: #2c3e50; /* HSL: 210 16.3% 25.7% */
    --primary-foreground: #ffffff; /* HSL: 210 40% 98% */

    --secondary: #d6a24c; /* HSL: 36 56.6% 57.1% */
    --secondary-foreground: #ffffff; /* HSL: 36 100% 88.2% */

    --muted: #e67e22; /* HSL: 28.1 79.3% 50.2% */
    --muted-foreground: #707073; /* HSL: 210 1.9% 43.3% */

    --accent: #f1c40f; /* HSL: 45.1 89.8% 50.9% */
    --accent-foreground: #f39c12; /* HSL: 35.5 87.5% 56.5% */

    --destructive: #e74c3c; /* HSL: 9 69.9% 53.1% */
    --destructive-foreground: #ffffff; /* HSL: 210 40% 98% */

    --border: #ecf0f1; /* HSL: 185.5 25% 92.9% */
    --input: #34495e; /* HSL: 210 25.9% 31.4% */
    --ring: #3498db; /* HSL: 207.3 100% 56.7% */

    --radius: 0.5rem;
}

.dark {
    --background: #2c3e50; /* HSL: 222.2 84% 4.9% */
    --foreground: #ffffff; /* HSL: 210 40% 98% */

    --card: #2c3e50; /* HSL: 222.2 84% 4.9% */
    --card-foreground: #ffffff; /* HSL: 210 40% 98% */

    --popover: #2c3e50; /* HSL: 222.2 84% 4.9% */
    --popover-foreground: #ffffff; /* HSL: 210 40% 98% */

    --primary: #ffffff; /* HSL: 210 40% 98% */
    --primary-foreground: #2c3e50; /* HSL: 222.2 84% 4.9% */

    --secondary: #d6a24c; /* HSL: 36 56.6% 57.1% */
    --secondary-foreground: #ffffff; /* HSL: 210 40% 98% */

    --muted: #d6a24c; /* HSL: 36 56.6% 57.1% */
    --muted-foreground: #b0442f; /* HSL: 9 55.9% 36.1% */

    --accent: #d6a24c; /* HSL: 36 56.6% 57.1% */
    --accent-foreground: #ffffff; /* HSL: 210 40% 98% */

    --destructive: #e74c3c; /* HSL: 9 69.9% 53.1% */
    --destructive-foreground: #ffffff; /* HSL: 210 40% 98% */

    --border: #d6a24c; /* HSL: 36 56.6% 57.1% */
    --input: #d6a24c; /* HSL: 36 56.6% 57.1% */
    --ring: #3498db; /* HSL: 192.7 79.9% 56.7% */
}

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    line-height: 1.5;
  }
}

/* .oswald {
  font-family: var(--font-oswald);
} */

.header.scrolled {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 2s cubic-bezier(.82,.13,.31,.83); /* Optional: Add smooth transition */
  /* transform: translateY(-100%); */
 
}
.montserrat {
  font-family: var(--font-montserrat);
}

.text-stroke {
    /* -webkit-text-stroke-color: #000000; */
    -webkit-text-stroke: 1px rgba(0,0,0,.2);
    color: transparent;
}
.services .bg-white:hover span {
  background: #d6a24c;
}
.services .bg-white span,
.services .bg-white span svg {
  transition: all 0.3s;

}
.services .bg-white:hover span svg{
  stroke:#fff;
}